.containerSearch {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px 20px 0px;
	margin-bottom: 20px;
	border: 3px black;
}

.containerSearch form {
	background: #fff;
	width: 100%;
	height: 45px;
	display: flex;
}

.containerSearch form input {
	flex: 1;
	margin-left: 40px;
	height: 45px;
	border: none;
	outline: none;
}

.containerSearch form button {
	background: rgb(4, 100, 190);
	padding: 10px 35px;
	border: none;
	outline: none;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
}

.borderless {
	border-top-style: none !important;
	border-left-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

body .bg {
	background-color: rgb(4, 100, 190) !important;
	background-image: url("../images/BGbanner.png");
	background-repeat: no-repeat;
	background-blend-mode: normal;
	background-size: cover;
}

.wadaw:hover {
	background-color: rgb(233, 63, 171) !important;
}

.btnWadaw {
	background: rgb(4, 100, 190) !important;
}

.banner-content .banner-title {
	color: #fff;
	font-weight: 700;
	line-height: 50px;
	text-decoration: underline;
}

.table .thead-dark th {
	color: #fff;
	background-color: rgb(4, 100, 190) !important;
	border-color: rgb(4, 100, 190) !important;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid rgb(4, 100, 190) !important;
}
