.containerSearch {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px 20px 0px;
	margin-bottom: 20px;
	border: 3px black;
}

.containerSearch form {
	background: #fff;
	width: 100%;
	height: 45px;
	display: flex;
}

.containerSearch form input {
	flex: 1;
	margin-left: 40px;
	height: 45px;
	border: none;
	outline: none;
}

.containerSearch form button {
	background: rgb(4, 100, 190);
	padding: 10px 35px;
	border: none;
	outline: none;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
}

.borderless {
	border-top-style: none !important;
	border-left-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

body .bg {
	background-color: #4e2cff !important;
	background-image: url("../images/BGbanner.png");
	background-repeat: no-repeat;
	background-blend-mode: normal;
	background-size: cover;
	padding-bottom: -300px !important;
}

.wadaw:hover {
	background-color: #fe6cfa !important;
}

.widiw {
	color: black;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.widiw span {
	margin-right: -20px;
	display: inline-block;
	background: #fff;
	color: #212529;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	user-select: none;
	border-radius: 10px;
	overflow: hidden;
}

.widiw input[type="checkbox"] {
	display: none;
}
.widiw:hover label input[type="checkbox"] {
	background-color: #ccc;
}

.widiw input[type="checkbox"]:checked ~ .checkmark {
	background: #fe6cfa;
	color: #fff;
}

.widiw input[type="checkbox"]:checked ~ .checkmark::after {
	display: block;
}

.checkmark {
	background-color: #fe6cfa;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

body table {
	font-family: "poppins", sans-serif;
}
.btnWadaw {
	background: #4e2cff !important;
	color: #fff;
}

.banner-content .banner-title {
	color: #fff;
	font-weight: 700;
	line-height: 50px;
	text-decoration: underline;
}

.table .thead-dark th {
	color: #fff;
	background-color: #4e2cff !important;
	border-color: black !important;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid black !important;
}

.hmm {
	margin-top: 100px;
}

.bl:hover {
	background-color: black;
}

.card-body {
	padding-left: 50px !important;
	padding-right: 100px !important;
}
